@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Macondo&family=Quicksand:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

html {
	scroll-behavior: smooth;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	/* gap: 2rem; */
	transition: 1s;
	transform: translateX(100vw);
}

::selection {
	background:rgb(94, 69, 80);
	color: aliceblue;
}

.light-pink {
	color: #313131;
}

.animated-underline {
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 0.4s background-size;
	background-position: left bottom;
}

.animated-underline:hover {
	background-size: 100% .1em;
}

.nav-close-btn {
	cursor: pointer;
	color: white;
	visibility: visible;
	opacity: 1;
	position: absolute;
	top: 2rem;
	right: 2.3rem;
}

.responsive_nav {
	transform: none;
}

.underline-gradient:hover {
	text-decoration: underline;
	text-decoration-color: linear-gradient(
		rgb(56, 189, 248),
		rgb(186, 230, 253)
	);
}

.animate-delay:nth-child(1) {
	animation-delay: 100ms;
}
.animate-delay:nth-child(2) {
	animation-delay: 300ms;
}
.animate-delay:nth-child(3) {
	animation-delay: 500ms;
}
.animate-delay:nth-child(4) {
	animation-delay: 700ms;
}
.animate-delay:nth-child(5) {
	animation-delay: 900ms;
}


/* #header-section {
	animation: fade-up;
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}

	100% {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
} */

/* .fade-in {
	opacity: 0;
	transform: translateY(20vh);
	visibility: hidden;
	transition: opacity 0.6s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;
} */
/* 
.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.fade-in .is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
} */

/* .section-head,
#name {
	font-family: "Macondo", cursive;
} */


/* @media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
} */
/* .linkedIn, .phone {
	color: white;
}

.linkedIn:hover {
	background-color: #007EBB;
}

.phone:hover {

} */
